*, *::after, *::before{
  box-sizing: border-box;
}
body{
  background-color: antiquewhite;
  overflow-x: hidden;

  --font-display: 'Baskerville', "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  --font-body: Garamond, "Times New Roman", serif;

  --clr-bg-accent: rgb(197, 176, 148);
  --clr-bg: rgb(234, 206, 170);
  --clr-text-head: hsl(33, 34%, 23%);
  --clr-text: rgb(34, 27, 17);
  --clr-text-secondary: rgb(82, 69, 51);
  --clr-border: rgb(130, 109, 83);
  --clr-green: rgb(183, 204, 64);
  --clr-red: rgb(204, 127, 64);
}

.container{
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: stretch;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--clr-bg);
  box-shadow: 0 0 16px 4px var(--clr-border);
  width: calc(70vw + 120px);
  min-height: 400px;
  color: var(--clr-text-head);
  padding-bottom: 24px;
}

header{
  min-height: 100px;
  background-color: var(--clr-bg-accent);
  box-shadow: inset 0 -4px 8px var(--clr-text-secondary);
  font-family: var(--font-display);
}
.logo{
  display: flex;
  align-items: flex-end;
}
.logo img{
  width: 200px;
  cursor: pointer;
}
.logo h1{
  font-size: 60px;
  font-weight: 600;
  transform: translate(-20px, -30px);
  cursor: pointer;
}

.controls{
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 2px solid var(--clr-border);
  border-bottom: 2px solid var(--clr-border);
  padding: 8px 5%;
}
.sort{
  display: flex;
  align-items: center;
  gap: 12px;
}
.sort h2{
  font-weight: 600;
  font-family: var(--font-body);
  color: var(--clr-text-secondary);
  margin-bottom: 8px;
}
.controls button{
  display: flex;
  align-items: center;
  gap: 6px;

  background-color: var(--clr-bg-accent);
  padding: 4px 12px;
  border: 2px solid var(--clr-border);
  border-radius: 4px;
  color: var(--clr-text);
  font-weight: 600;
  font-size: 16px;
  font-family: var(--font-body)
}
.sort button.sorted-up::after{
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(img/arrow_up.svg);
  background-size: cover;
}
.sort button.sorted-down::after{
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(img/arrow_down.svg);
  background-size: cover;
}
.sort button.only-by::after{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(img/expand.svg);
  background-size: cover;
}
.controls .new-book{
  background-color: var(--clr-green);
  padding: 8px 16px;
  font-size: 18px;
}


.cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px 16px;
  padding: 0 24px;
}
.card{
  display: flex;
  gap: 16px;
  position: relative;

  background-color: var(--clr-bg-accent);
  box-shadow: 0 4px 6px var(--clr-border);
  /* border: 1.5px solid var(--clr-border); */
  border-radius: 4px;
  min-height: 100px;
  padding: 12px 20px;
}
.card img{
  max-width: 40%;
  align-self: center;
  opacity: 90%;
  border-radius: 4px;
}

.text-content{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.text-content p{
  font-size: 14px;
  font-weight: 700;
  color: var(--clr-text)
}
.text-content h1, .text-content span{
  font-weight: 600;
  font-size: 22px;
}
.card-ctrl{
  display: flex;
  gap: 4px;
}
.hyperlink{
  color: var(--clr-text);
  background-color: var(--clr-green);
  border-radius: 4px;
  border: 2px solid var(--clr-border);
  width: fit-content;
  padding: 4px 8px;
  font-family: var(--font-body);
  font-weight: 700;
}
.remove{
  align-self: stretch;
  width: 24px;
  background-color: var(--clr-red);
  border-radius: 4px;
  border: 2px solid var(--clr-border);
  background-image: url(img/delete.svg);
  background-size: cover;
  background-position: center;
}

.text-content form, .status{
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 6px;
  right: 4px;

  border: 1.5px solid var(--clr-border);
  border-radius: 4px;
  width: fit-content;
  padding: 2px;
}
.text-content input, .status input{
  appearance: none;
  margin: 0;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
}
.text-content input:checked, .status input:checked{
  background-color: var(--clr-border);
}
.text-content input:nth-child(1), #unread{
  background-image: url(img/not-seen.svg);
}
.text-content input:nth-child(2), #started{
  background-image: url(img/started.svg);
}
.text-content input:nth-child(3), #finished{
  background-image: url(img/read.svg);
}


.big-form{
  width: min(calc(30vw + 400px), 105%);
  height: 60vh;
  background-color: var(--clr-bg);
  box-shadow: 0 0 10px 10px var(--clr-bg);
  padding: 24px;

  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
}
.hidden{
  display: none;
}
.blurry{
  overflow-y: hidden;
  filter: blur(5px) brightness(.5);
}
.overlay{
  position: fixed;
  z-index: 1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}
.cancel{
  background-image: url(img/cancel.svg);
  width: 36px;
  height: 36px;
  position: fixed;
  cursor: pointer;
}
.big-form h1{
  text-align: center;
  font-size: 44px;
  font-weight: 600;
}
.big-form h2{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
.big-form form{
  display: flex;
  gap: calc(15% - 50px);
  margin: 16px 0;
}
.big-form input{
  display: block;
  font-size: 16px;
  padding: 4px 8px;
  margin: 4px;
  border: 2px solid var(--clr-border);
  border-radius: 4px;
  outline: none;
}
[type='text'], [type='number']{
  width: 100%;
}
.big-form label{
  font-size: 20px;
  color: var(--clr-text);
  font-family: var(--font-body);
  position: relative;
}
.big-form label:has([required])::after{
  content: '*';
  color: red;
  position: absolute;
  top: 4px;
  left: -10px;
}

.col1{
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.col2{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#cover{
  border: none;
  width:100%;
}
.status{
  padding: 0;
  width: 100%;
  align-items: stretch;
  position: static;
  border: none;
  gap: 8px;
}
.status input{
  border: none;
  height: 24px;
  width: 32px;
}
.status label{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

#submit{
  display: block;
  background-color: var(--clr-green);
  font-size: 24px;
  font-weight: 700;
  color: var(--clr-text);
  border: 2px solid var(--clr-border);
  border-radius: 4px;
  padding: 12px 64px;
  margin: 0 auto;
}







